Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-support-setFields-in-dataset_2023-08-10-11-49.json
Labels: none

fix(fields): fix the bug of when unset option to get fields
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-support-setFields-in-dataset_2023-08-10-11-49.json
Labels: none

chore: delete obsolete logs
  common/changes/@visactor/vdataset/feat-support-setFields-in-dataset_2023-08-09-08-43.json
Labels: none

chore(compile): change compile target to ES2018
  share/ts-config/tsconfig.base.json
Labels: typescript

chore(compile): change compile target to ES2018
  share/ts-config/tsconfig.base.json
Labels: typescript

fix(fields): fix when fields sort, domain index not math data appear order
  packages/vdataset/src/transform/fields.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-fields-sort-domain-index_2023-08-11-03-51.json
Labels: none

chore: fix syntax error in changelog
  common/changes/@visactor/vdataset/fix-fields-sort-domain-index_2023-08-11-03-51.json
Labels: none

chore: update local release scripts
  share/ts-config/tsconfig.base.json
  tools/bundler/src/bootstrap.ts
  tools/bundler/src/tasks/modules.ts
Labels: typescript, bundler

chore: update local release scripts
  share/ts-config/tsconfig.base.json
  tools/bundler/src/bootstrap.ts
  tools/bundler/src/tasks/modules.ts
Labels: typescript, bundler

fix: sort number neet set fields type to linear
  packages/vdataset/__tests__/fields.test.ts
Labels: test

fix: fix the problem that the effect of clone configuration in dataview.parserOption is incorrect
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-fix-the-clone-in-parse-not-work_2023-08-16-02-55.json
Labels: none

chore: add unit test of parser clone
  packages/vdataset/__tests__/fields.test.ts
  packages/vdataset/__tests__/parser-clone.test.ts
  packages/vdataset/src/data-view.ts
Labels: @pkg/core, test

fix: fix the error when parseOption is nill
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-parserOption-null-check_2023-08-16-03-41.json
Labels: none

feat: fixed band width
  packages/vscale/src/band-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/utils/utils.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-band-width_2023-08-16-07-33.json
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-band-width_2023-08-16-07-33.json
Labels: none

build: prelease version 0.15.7
  common/config/rush/version-policies.json
  packages/vscale/package.json
Labels: none

feat(symLog): ticks caculation
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/symlog.test.ts
  packages/vscale/package.json
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
  packages/vscale/src/utils/tick-sample.ts
  packages/vscale/src/utils/utils.ts
Labels: test

chore: update rush change log
  common/changes/@visactor/vdataset/feat-symLog-ticks_2023-08-18-09-23.json
  common/changes/@visactor/vscale/feat-symLog-ticks_2023-08-18-09-23.json
Labels: none

chore: update rush change log
  common/changes/@visactor/vdataset/feat-symLog-ticks_2023-08-18-09-23.json
  common/changes/@visactor/vscale/feat-symLog-ticks_2023-08-18-09-23.json
Labels: none

fix(symLog): fix some merge error
  packages/vscale/src/utils/tick-sample.ts
Labels: none

build: prelease version 0.15.7
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
Labels: none

feat: add identity-scale
  packages/vscale/__tests__/identity-scale.test.ts
  packages/vscale/src/identity-scale.ts
  packages/vscale/src/index.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/type.ts
Labels: test, typescript

docs: update changlog of rush
  common/changes/@visactor/vscale/feat-identity-scale_2023-08-21-08-21.json
Labels: none

docs: fix links in readme
  README.md
  README.zh-CN.md
Labels: none

chore: ticks reconfig
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/symlog.test.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

chore: domain length judge problem
  packages/vscale/package.json
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
Labels: none

chore: unit test about log scale nice function
  packages/vscale/__tests__/log-nice-option.test.ts
  packages/vscale/src/log-scale.ts
Labels: test

chore: nice function about symLog scale
  packages/vscale/src/symlog-scale.ts
Labels: none

fix: slice replace cloneDeep consider about performance
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
Labels: none

fix(vscale): identity scale may have no domain
  packages/vscale/src/identity-scale.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-identity-scale_2023-08-29-08-09.json
Labels: none

fix(vscale): identity-scale `rang()` return the same value as `domain()`
  packages/vscale/__tests__/identity-scale.test.ts
  packages/vscale/src/identity-scale.ts
Labels: test

chore: update changelog
  common/changes/@visactor/vscale/feat-band-width_2023-08-16-07-33.json
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-band-width_2023-08-16-07-33.json
Labels: none

feat: fixed band width
  packages/vscale/src/band-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/utils/utils.ts
Labels: none

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
