Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

fix: d3-* cjs
  packages/vdataset/package.json
Labels: none

fix: d3-* cjs
  packages/vdataset/bundler.config.js
  packages/vdataset/package.json
  packages/vutils/bundler.config.js
Labels: bundler

fix: change test for github ci
  packages/vscale/__tests__/linear.test.ts
Labels: test

fix: change test for github ci
  .github/workflows/unit-test.yml
Labels: none

feat: release .3
  packages/vdataset/bundler.config.js
  packages/vdataset/package.json
  packages/vscale/package.json
Labels: bundler

fix: boundle out put fill name
  packages/vscale/bundler.config.js
  packages/vutils/bundler.config.js
Labels: bundler

build: version 0.9.2-alpha.4
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: workerspace dependencies version
  packages/vdataset/package.json
Labels: none

fix: workerspace dependencies version
  packages/vscale/package.json
Labels: none

fix: workerspace dependencies version
  common/config/rush/pnpm-lock.yaml
Labels: none

chore: add pre-release workflow
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  .vscode/settings.json
  common/scripts/parse-version.js
  common/scripts/pre-release.js
  common/scripts/release.js
Labels: chore

fix: fix the way of module import
  packages/vdataset/src/parser/geo/geobuf.ts
  packages/vdataset/tsconfig.json
Labels: @pkg/core, typescript

chore: update rush change
  common/changes/@visactor/vdataset/chore-module-import_2023-06-19-01-50.json
Labels: none

feat: release 0.10.1
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

feat: release 0.10.1 change
  common/changes/@visactor/vdataset/release-0.10.1_2023-06-20-08-36.json
  common/changes/@visactor/vscale/release-0.10.1_2023-06-20-08-36.json
  common/changes/@visactor/vutils/release-0.10.1_2023-06-20-08-36.json
Labels: none

feat: add change log
  packages/vscale/CHANGELOG.json
Labels: none

chore: improve jest configuration
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/jest.config.js
  packages/vdataset/package.json
  packages/vdataset/tsconfig.json
  packages/vdataset/tsconfig.test.json
  packages/vscale/jest.config.js
  packages/vscale/package.json
  packages/vscale/tsconfig.json
  packages/vscale/tsconfig.test.json
  packages/vutils/jest.config.js
  packages/vutils/package.json
  packages/vutils/tsconfig.json
  packages/vutils/tsconfig.test.json
  share/jest-config/jest.base.js
Labels: jest, typescript

chore: config coveragePathIgnorePatterns
  share/jest-config/jest.base.js
Labels: jest

fix: package name
  README.md
  README.zh-CN.md
Labels: none

feat: release script
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/unit-test.yml
  common/scripts/pre-release.js
  common/scripts/release.js
  tools/bundler/src/logic/babel.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: bundler, chore

fix: build error
  tools/bundler/src/logic/babel.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: bundler

feat: release & rush change-all
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  common/autoinstallers/lint/change-all.ts
  common/config/rush/command-line.json
  common/git-hooks/pre-commit
  tools/bundler/src/logic/rollup.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: bundler, chore

feat: change test toBe to toBeCloseTo
  packages/vscale/__tests__/linear.test.ts
Labels: test

fix: resolve some error
  .github/workflows/release.yml
  .github/workflows/stale.yml
  common/scripts/pre-release.js
  common/scripts/release.js
Labels: chore

fix: approximate equality for scale test
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/pow.test.ts
Labels: test

fix: test toBeCloseTo
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/pow.test.ts
Labels: test

fix: for test
  packages/vscale/__tests__/pow.test.ts
Labels: test

fix: for test
  packages/vscale/__tests__/pow.test.ts
Labels: test

fix: for test
  packages/vscale/__tests__/log.test.ts
Labels: test

fix: for test
  packages/vscale/__tests__/log.test.ts
Labels: test

fix: for test
  packages/vscale/__tests__/log.test.ts
Labels: test

feat: commit change
  common/changes/@visactor/vdataset/chore-fix-bundler_2023-06-27-11-16.json
  common/changes/@visactor/vscale/chore-fix-bundler_2023-06-27-11-16.json
  common/changes/@visactor/vutils/chore-fix-bundler_2023-06-27-11-16.json
Labels: none

fix: linear scale ticks in nagative domain
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

feat: commit change
  common/changes/@visactor/vscale/fix-linear-scale-ticks_2023-06-27-12-45.json
Labels: none

chore: improve jest configuration
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/jest.config.js
  packages/vdataset/package.json
  packages/vdataset/tsconfig.json
  packages/vdataset/tsconfig.test.json
  packages/vscale/jest.config.js
  packages/vscale/package.json
  packages/vscale/tsconfig.json
  packages/vscale/tsconfig.test.json
  packages/vutils/jest.config.js
  packages/vutils/package.json
  packages/vutils/tsconfig.json
  packages/vutils/tsconfig.test.json
  share/jest-config/jest.base.js
Labels: jest, typescript

chore: config coveragePathIgnorePatterns
  share/jest-config/jest.base.js
Labels: jest

chore: fix the tsconfig
  packages/vdataset/tsconfig.json
  packages/vscale/tsconfig.json
  packages/vutils/tsconfig.json
Labels: typescript

feat: commit change
  common/changes/@visactor/vdataset/chore-fix-bundler_2023-06-27-11-16.json
  common/changes/@visactor/vscale/chore-fix-bundler_2023-06-27-11-16.json
  common/changes/@visactor/vutils/chore-fix-bundler_2023-06-27-11-16.json
Labels: none

feat: commit version change
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

feat: change pnpm lock
  common/config/rush/pnpm-lock.yaml
Labels: none

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
