Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-boxplot-transform_2025-10-27-07-06.json
Labels: none

fix: limit the value of whiskers array to between 0 ~ 1
  packages/vdataset/src/transform/boxplot.ts
Labels: @pkg/core

feat: support `countField` option of `bin` and export `percentage`
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core, test

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-bin-count_2025-10-30-08-17.json
Labels: none

feat: update bins of interage
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core, test

fix: the lastbin range should be same as binStep, not threshold with max value
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core, test

fix: add change log
  common/changes/@visactor/vdataset/fix-bin_2025-11-11-12-29.json
Labels: none

feat: support subViewField feature
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core, test

feat: subViewField --> facetField
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core, test

feat: set boxplot whisker as actual bound value(Q1 - N*IQR) or fixed value
  packages/vdataset/src/transform/boxplot.ts
Labels: @pkg/core

fix: transfer demo import into ts import from vutils
  packages/vdataset/src/transform/boxplot.ts
Labels: @pkg/core

feat: add alpha option of regression function
  packages/vutils/src/common/regression-linear.ts
  packages/vutils/src/common/regression-logistic.ts
  packages/vutils/src/common/regression-lowess.ts
  packages/vutils/src/common/regression-polynomial.ts
Labels: @pkg/util

feat: update whisker test of boxplot
  packages/vdataset/__tests__/boxplot.test.ts
Labels: test

feat: add change log
  common/changes/@visactor/vdataset/fix-box_plot_2025-11-18-07-47.json
Labels: none

fix: typo, alpah --> alpha
  packages/vutils/src/common/regression-polynomial.ts
Labels: @pkg/util

feat: add change log
  common/changes/@visactor/vutils/fix-alpha_2025-11-20-12-38.json
Labels: none

fix: default alpha value is 0.05
  packages/vutils/src/common/regression-polynomial.ts
Labels: @pkg/util

fix: bin result should fill bins
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core, test

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-bin-fill_2025-11-24-10-17.json
Labels: none

fix: fix error of empty groupFields when use bin
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core, test

fix: maxValue of bin may large than max, making empty bins
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core, test

feat: thresholds.length = bins + 1; bins = i
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core

feat: optimize LOWESS regression for large datasets(BY CLAUDE4.5)
  packages/vutils/__tests__/lowess-accuracy.test.ts
  packages/vutils/__tests__/lowess-performance.test.ts
  packages/vutils/src/common/regression-lowess.ts
Labels: @pkg/util, test

feat: skip performance test in github action
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  packages/vutils/__tests__/lowess-performance.test.ts
Labels: test

feat: optimiz word-cloud-shape
  packages/vlayouts/src/wordcloud-shape/filling.ts
  packages/vlayouts/src/wordcloud-shape/interface.ts
  packages/vlayouts/src/wordcloud-shape/layout.ts
  packages/vlayouts/src/wordcloud-shape/util.ts
  packages/vlayouts/src/wordcloud-shape/wordle.ts
Labels: none

Revert "feat: optimiz word-cloud-shape"
  packages/vlayouts/src/wordcloud-shape/filling.ts
  packages/vlayouts/src/wordcloud-shape/interface.ts
  packages/vlayouts/src/wordcloud-shape/layout.ts
  packages/vlayouts/src/wordcloud-shape/util.ts
  packages/vlayouts/src/wordcloud-shape/wordle.ts
Labels: none

feat: optimiz word-cloud-shape
  .github/workflows/hotfix-release.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  common/autoinstallers/create/pnpm-lock.yaml
  common/autoinstallers/lint/pnpm-lock.yaml
  common/autoinstallers/run-script/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  common/git-hooks/commit-msg
  common/git-hooks/pre-commit
  common/git-hooks/pre-push
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  packages/vlayouts/src/wordcloud-shape/filling.ts
  packages/vlayouts/src/wordcloud-shape/interface.ts
  packages/vlayouts/src/wordcloud-shape/layout.ts
  packages/vlayouts/src/wordcloud-shape/util.ts
  packages/vlayouts/src/wordcloud-shape/wordle.ts
  rush.json
Labels: chore

fix: add valueField support to circle-packing layout
  packages/vlayouts/src/circle-packing/interface.ts
  packages/vlayouts/src/circle-packing/layout.ts
Labels: none

chore: update rush.json
  rush.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vlayouts/fix-circle-packing-valuefield_2026-03-10-07-58.json
Labels: none

fix: preserve LOWESS nearest-neighbor selection
  packages/vutils/__tests__/lowess-neighbors.test.ts
  packages/vutils/src/common/regression-lowess.ts
Labels: @pkg/util, test

test: preserve LOWESS scatter regression output
  docs/superpowers/plans/2026-09-18-lowess-nearest-neighbors.md
  packages/vutils/__tests__/data/lowess-scatter.ts
  packages/vutils/__tests__/lowess-compatibility.test.ts
Labels: test, docs

fix: require columns in sankey nodeHeight callback
  packages/vlayouts/src/sankey/interface.ts
Labels: none

fix(ci): use npm trusted publishing for releases
  .github/workflows/hotfix-release.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  common/config/rush/.npmrc-publish
  docs/superpowers/plans/2026-09-18-npm-trusted-publishing.md
  docs/superpowers/specs/2026-09-18-npm-trusted-publishing-design.md
  packages/vdataset/package.json
  packages/vlayouts/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: docs

feat(vutils): expose normalQuantile for statistical plots
  packages/vutils/.eslintrc.js
  packages/vutils/README.zh-CN.md
  packages/vutils/__tests__/common/normalQuantile.test.ts
  packages/vutils/package.json
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/normalQuantile.ts
  packages/vutils/src/common/regression-utils.ts
  packages/vutils/tsconfig.json
  packages/vutils/tsconfig.test.json
Labels: @pkg/util, eslint, typescript

fix(vutils): restore workspace version consistency
  packages/vutils/README.zh-CN.md
  packages/vutils/package.json
Labels: none

fix(vutils): stabilize regression confidence intervals
  packages/vutils/README.zh-CN.md
  packages/vutils/__tests__/regression-ci-boundaries.test.ts
  packages/vutils/src/common/regression-linear.ts
  packages/vutils/src/common/regression-logistic.ts
  packages/vutils/src/common/regression-lowess.ts
  packages/vutils/src/common/regression-polynomial.ts
  packages/vutils/src/common/regression-utils.ts
Labels: @pkg/util, test

feat(vutils): add raw-sample statistical estimators
  docs/statistical-input-algorithms.md
  packages/vutils/.eslintrc.js
  packages/vutils/__tests__/bootstrap.test.ts
  packages/vutils/__tests__/correlation.test.ts
  packages/vutils/__tests__/mean.test.ts
  packages/vutils/src/common/bootstrap.ts
  packages/vutils/src/common/correlation.ts
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/mean.ts
  packages/vutils/tsconfig.json
  packages/vutils/tsconfig.test.json
Labels: @pkg/util, test, docs, eslint, typescript

fix(vutils): stabilize regression fits and add paired bootstrap
  packages/vutils/REGRESSION.md
  packages/vutils/__tests__/common/regression-bootstrap.test.ts
  packages/vutils/__tests__/common/regression-python.test.ts
  packages/vutils/__tests__/common/regression-stability.test.ts
  packages/vutils/__tests__/fixtures/generate-regression-python.py
  packages/vutils/__tests__/fixtures/regression-python.json
  packages/vutils/__tests__/lowess-accuracy.test.ts
  packages/vutils/__tests__/lowess-compatibility.test.ts
  packages/vutils/__tests__/lowess-neighbors.test.ts
  packages/vutils/__tests__/lowess-performance.test.ts
  packages/vutils/benchmarks/lowess.cjs
  packages/vutils/package.json
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/regression-bootstrap.ts
  packages/vutils/src/common/regression-linear.ts
  packages/vutils/src/common/regression-lowess.ts
  packages/vutils/src/common/regression-polynomial.ts
  packages/vutils/src/common/regression-solver.ts
Labels: @pkg/util, test

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
