Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

feat: test template
  .github/ISSUE_TEMPLATE/new_task.md
Labels: none

feat: add api for multiple view
  packages/vdataset/src/data-set.ts
Labels: @pkg/core

feat: add change log
  common/changes/@visactor/vdataset/feat-multiple-dataview_2023-07-04-10-03.json
Labels: none

chore: add a new rule to "header-min-length" to limit too short message
  common/autoinstallers/lint/commitlint.config.js
Labels: chore

feat: change dimension-trigger event to chart
  common/changes/@visactor/vscale/feat-scale-support-specified_2023-07-11-09-22.json
  packages/vscale/__tests__/ordinal.test.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/ordinal-scale.ts
  tools/bundler/src/logic/babel.config.ts
Labels: test, bundler

fix: compact the globalThis in non-browser evt
  packages/vutils/src/graphics/text/measure/textMeasure.ts
Labels: @pkg/util

fix: fix review comment
  packages/vscale/src/ordinal-scale.ts
Labels: none

fix: fix review comment
  packages/vscale/__tests__/band-invert.test.ts
  packages/vscale/src/ordinal-scale.ts
Labels: test

feat: geojson parser support reverse winding
  common/changes/@visactor/vdataset/feat-geojson_parser_rewind_2023-07-14-09-23.json
  packages/vdataset/src/parser/geo/geojson.ts
Labels: @pkg/core

feat: new getScale api
  packages/vutils/src/dom.ts
Labels: @pkg/util

fix: remove the word canopus
  packages/vutils/__tests__/text/textMeasure.test.ts
  packages/vutils/src/graphics/text/measure/interface.ts
  packages/vutils/src/graphics/text/measure/test.ts
  packages/vutils/src/graphics/text/measure/textMeasure.ts
  packages/vutils/src/graphics/text/measure/util.ts
Labels: @pkg/util

chore: update changelog
  common/changes/@visactor/vutils/feat-dom_2023-07-17-09-38.json
Labels: none

chore: correct import path
  packages/vdataset/src/parser/geo/geojson.ts
Labels: @pkg/core

fix: call directly of toString function
  common/changes/@visactor/vutils/fix-toString_might_be_overidden_2023-07-18-13-07.json
  packages/vutils/src/common/isType.ts
Labels: @pkg/util

chore: sync release info of 0.12.0
  common/changes/@visactor/vscale/feat-scale-support-specified_2023-07-11-09-22.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

chore: sync release info of 0.12.0
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
Labels: none

chore: dont read version from package.json
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: none

docs: add docs of Logger
  common/changes/@visactor/vutils/feat-add-new-feature-logger-in-vutil_2023-07-19-04-20.json
  packages/vutils/src/logger.ts
  packages/vutils/src/type.ts
Labels: @pkg/util, typescript

feat: add test for logger
  packages/vutils/__tests__/logger/logger.test.ts
  packages/vutils/src/logger.ts
Labels: @pkg/util

docs: prepare for release 0.13.0
  common/changes/@visactor/vdataset/feat-geojson_parser_rewind_2023-07-14-09-23.json
  common/changes/@visactor/vscale/feat-scale-support-specified_2023-07-11-09-22.json
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: logger export error
  packages/vutils/src/index.ts
Labels: @pkg/util

docs: add fix logger export error log
  common/changes/@visactor/vutils/fix-util-logger-export_2023-07-19-11-03.json
Labels: none

docs: prepare for release 0.13.1
  common/changes/@visactor/vdataset/feat-geojson_parser_rewind_2023-07-14-09-23.json
  common/changes/@visactor/vdataset/feat-multiple-dataview_2023-07-04-10-03.json
  common/changes/@visactor/vscale/feat-scale-support-specified_2023-07-11-09-22.json
  common/changes/@visactor/vutils/feat-add-new-feature-logger-in-vutil_2023-07-19-04-20.json
  common/changes/@visactor/vutils/fix-util-logger-export_2023-07-19-11-03.json
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: change logger type & add hasConsole check
  common/changes/@visactor/vutils/release-0.13.2_2023-07-19-11-29.json
  packages/vutils/src/logger.ts
  packages/vutils/src/type.ts
Labels: @pkg/util, typescript

chore: sync version from npm
  common/changes/@visactor/vdataset/chore-sync-version-npm_2023-07-19-11-39.json
  common/changes/@visactor/vscale/chore-sync-version-npm_2023-07-19-11-39.json
  common/changes/@visactor/vutils/chore-sync-version-npm_2023-07-19-11-39.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
  packages/vutils/src/logger.ts
Labels: @pkg/util

chore: sync version from npm
  common/config/rush/pnpm-lock.yaml
Labels: none

fix: change errorHanlder args to ...args
  common/changes/@visactor/vutils/fix-logger-params-args_2023-07-19-12-05.json
  packages/vutils/src/logger.ts
Labels: @pkg/util

feat: support null for scale specified retur value
  common/changes/@visactor/vscale/feat-scale-specified-support-null_2023-07-20-06-26.json
  packages/vscale/__tests__/ordinal.test.ts
  packages/vscale/src/ordinal-scale.ts
Labels: test

feat(logScale): add forceTicks and stepTicks
  common/changes/@visactor/vscale/feat-log-scale_2023-07-20-15-57.json
  packages/vscale/__tests__/log.test.ts
  packages/vscale/src/log-scale.ts
Labels: test

fix: revert version of d3-geo from 3.x to 1.x
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-d3-geo_2023-07-21-08-09.json
Labels: none

feat(logScale): nice logic
  packages/vscale/src/log-scale.ts
Labels: none

feat: optimize ticks in two case: 1. equal values, 2. tickCount should match parameters, fix #51
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/__tests__/tick-single-value.test.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

docs: update changelog of rush
  common/changes/@visactor/vscale/feat-optimize-ticks_2023-08-02-09-02.json
Labels: none

fix: remove useless branch of `calculateTicksOfSingleValue()`
  packages/vscale/src/utils/tick-sample.ts
Labels: none

fix(vscale): fix ticks of same special cases
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

feat(vutil): add function `memoize()`
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/memoize.ts
Labels: @pkg/util

fix(vscale): add `d3Ticks()` to replace `ticks()`
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/pow.test.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

feat: ticks of linear-scale will update domain when nice is true
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/symlog.test.ts
  packages/vscale/src/band-scale.ts
  packages/vscale/src/base-scale.ts
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/ordinal-scale.ts
Labels: test

fix: linear-scale will only call new ticks when nice is true
  packages/vscale/src/linear-scale.ts
Labels: none
