Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

chore: add unit test about log nice scale
  packages/vscale/__tests__/log.test.ts
Labels: test

feat: add configure rangeFactorStart and rangeFactorEnd to band scale
  packages/vscale/src/band-scale.ts
  packages/vscale/src/base-scale.ts
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/ordinal-scale.ts
  packages/vscale/src/utils/utils.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-range-factor_2023-11-13-10-59.json
Labels: none

build: prelease version 0.16.8-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

chore: lineHeight can be string
  packages/vutils/src/graphics/text/measure/interface.ts
  packages/vutils/src/graphics/text/measure/textMeasure.ts
Labels: @pkg/util

chore: update rush change
  common/changes/@visactor/vutils/feat-lineHeight-can-be-string_2023-11-15-02-02.json
Labels: none

fix: change log nice floor logic
  packages/vscale/__tests__/log-nice-option.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/src/log-scale.ts
Labels: test

chore: rush change log
  common/changes/@visactor/vscale/fix-log-nice-floor_2023-11-15-11-33.json
Labels: none

feat: add options `skipFunction` to function `isEqual()`
  packages/vutils/src/common/isEqual.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/feat-isEqual-skip-function_2023-11-16-09-35.json
Labels: none

fix: refactor init of scale
  packages/vscale/src/base-scale.ts
  packages/vscale/src/continuous-scale.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/release-0.16.12_2023-11-20-06-22.json
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/release-0.16.12_2023-11-20-06-22.json
Labels: none

chore: update changelog
  packages/vdataset/CHANGELOG.md
  packages/vscale/CHANGELOG.md
  packages/vutils/CHANGELOG.md
Labels: none

fix: reversed band scale
  packages/vscale/src/band-scale.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/sync-main_2023-11-20-16-04.json
Labels: none

feat: add substitute method
  common/config/rush/pnpm-lock.yaml
  packages/vutils/__tests__/common/substitute.test.ts
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/substitute.ts
Labels: @pkg/util

fix: range factor will not be changed if value is 0
  packages/vscale/src/band-scale.ts
  packages/vscale/src/base-scale.ts
  packages/vscale/src/continuous-scale.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/fix-scale_2023-11-21-09-02.json
Labels: none

perf: optimize the performance of band-scale
  packages/vscale/__tests__/band.test.ts
  packages/vscale/src/band-scale.ts
Labels: test

build: prelease version 0.17.0-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

feat: max and min
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/max.ts
  packages/vutils/src/common/min.ts
Labels: @pkg/util

chore: update changelog
  common/changes/@visactor/vutils/feat-min-and-max_2023-11-23-03-30.json
Labels: none

feat: optimize `maxInArray` and `minInArray`
  common/changes/@visactor/vutils/feat-min-and-max_2023-11-23-03-30.json
  packages/vutils/src/common/array.ts
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/max.ts
  packages/vutils/src/common/min.ts
Labels: @pkg/util

fix: problems in scale align
  packages/vscale/src/band-scale.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/fix-inverse-scale_2023-11-23-08-43.json
Labels: none

fix: problems in scale align
  packages/vscale/src/band-scale.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/fix-1123_2023-11-23-12-46.json
Labels: none

feat: support set logger in DataSet
  packages/vdataset/src/data-set.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-support-set-logger-in-data-set_2023-11-30-09-00.json
Labels: none

feat: support set logger in DataSet
  packages/vdataset/src/data-set.ts
Labels: @pkg/core

perf: optimize the performance of band-scale
  packages/vscale/__tests__/band.test.ts
  packages/vscale/src/band-scale.ts
Labels: test

build: prelease version 0.17.0-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

perf: optimize the performance of band-scale
  packages/vscale/__tests__/band.test.ts
  packages/vscale/src/band-scale.ts
Labels: test

fix: update `scaleWholeRangeSize` method in vscale
  packages/vscale/src/index.ts
  packages/vscale/src/utils/index.ts
  packages/vscale/src/utils/utils.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/fix-vscale-util_2023-12-05-12-58.json
Labels: none

fix: update `scaleWholeRangeSize` method in vscale
  packages/vscale/src/index.ts
  packages/vscale/src/utils/index.ts
  packages/vscale/src/utils/utils.ts
Labels: none

chore: update workflows of release
  .github/workflows/hotfix-release.yml
Labels: none

chore: update workflows of release
  .github/workflows/hotfix-release.yml
Labels: none

fix: fix bug of `getContainerSize()` when the container has `display: none`
  packages/vutils/src/dom.ts
Labels: @pkg/util
