Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

fix: ts error, explicit declarate return types
  packages/vscale/src/linear-scale.ts
Labels: none

fix: merge error for invalid value
  packages/vutils/src/common/merge.ts
Labels: @pkg/util

docs: update changelog
  common/changes/@visactor/vutils/fix-merge-error_2024-08-20-05-23.json
Labels: none

test: add unit test case
  packages/vutils/__tests__/common/merge.test.ts
Labels: none

test: add unit test case
  packages/vutils/__tests__/common/merge.test.ts
Labels: none

feat: add `cartesianToPolar` util function
  packages/vutils/__tests__/angle.test.ts
  packages/vutils/src/angle.ts
Labels: @pkg/util, test

docs: add changelog
  common/changes/@visactor/vutils/feat-cartesian-to-polar_2024-09-19-07-49.json
Labels: none

fix: incorrect result of obb bounds intersection
  packages/vutils/__tests__/graphics/bounds-util.test.ts
  packages/vutils/__tests__/graphics/intersect.test.ts
  packages/vutils/src/data-structure/bounds.ts
  packages/vutils/src/graphics/algorithm/intersect.ts
Labels: @pkg/util

docs: update changelog
  common/changes/@visactor/vutils/feat-obb-calc_2024-09-24-09-58.json
Labels: none

feat: export `rotatePoint` util function
  packages/vutils/src/graphics/algorithm/intersect.ts
Labels: @pkg/util

docs: update changelog
  common/changes/@visactor/vutils/feat-obb-calc_2024-09-24-09-58.json
Labels: none

feat: export `rotatePoint` util function
  packages/vutils/src/graphics/algorithm/intersect.ts
Labels: @pkg/util

fix: incorrect result of obb bounds intersection
  packages/vutils/__tests__/graphics/bounds-util.test.ts
  packages/vutils/__tests__/graphics/intersect.test.ts
  packages/vutils/src/data-structure/bounds.ts
  packages/vutils/src/graphics/algorithm/intersect.ts
Labels: @pkg/util

feat: support svg string Parser
  packages/vdataset/src/index.ts
  packages/vdataset/src/parser/svg.ts
  packages/vutils/src/dom.ts
Labels: @pkg/core, @pkg/util

docs: add changelog
  common/changes/@visactor/vdataset/feat-svg-parser_2024-10-25-08-13.json
Labels: none

test: update test case of angle
  packages/vutils/__tests__/angle.test.ts
Labels: test

fix: fix error of calculate max radius for specified angles and center
  packages/vutils/src/angle.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/fix-max-radius-error_2024-10-28-06-52.json
Labels: none

feat: svg parser support `customDomParser` option
  packages/vdataset/src/parser/svg.ts
Labels: @pkg/core

docs: update comment
  packages/vdataset/src/parser/svg.ts
Labels: @pkg/core

feat: svgParser support viewbox transform & add visiblity style
  packages/vdataset/src/parser/svg.ts
Labels: @pkg/core

fix: process float number attributes
  packages/vdataset/src/parser/svg.ts
Labels: @pkg/core

build: prelease version 0.19.0-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: fix interface of vscale
  packages/vscale/src/interface.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-fix-interface-of-scale_2024-11-12-09-46.json
Labels: none

feat: textMeasure support fontBoundingBoxAscent and fontBoundingBoxDescent
  common/changes/@visactor/vutils/main_2024-11-22-04-03.json
  packages/vutils/src/graphics/text/measure/interface.ts
  packages/vutils/src/graphics/text/measure/textMeasure.ts
Labels: @pkg/util

fix: add isNil check
  packages/vutils/src/graphics/text/measure/textMeasure.ts
Labels: @pkg/util

fix: fix incorrect results in `maxInArray` and `minInArray` with custom comparison functions
  packages/vutils/__tests__/common/array.test.ts
  packages/vutils/src/common/array.ts
Labels: @pkg/util

docs: add changelog
  common/changes/@visactor/vutils/fix-maxInArray_2024-11-28-06-57.json
Labels: none

fix: fix bug of `clone()` in obb
  packages/vutils/__tests__/common/isPlainObject.test.ts
  packages/vutils/__tests__/data-structure/obb.test.ts
  packages/vutils/src/data-structure/bounds.ts
  packages/vutils/src/graphics/algorithm/intersect.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/fix-obb-bounds-clone_2024-12-20-09-03.json
Labels: none

fix: fix the bug of statistics value type is string
  packages/vdataset/src/transform/statistics.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-fix-statistics-value-in-string_2024-12-23-12-24.json
Labels: none

chore: add test code for dataview statistics
  packages/vdataset/__tests__/dataview.test.ts
  packages/vdataset/src/transform/statistics.ts
Labels: @pkg/core, test

feat: add a new color brightness calculation described by the WCAG standard
  common/changes/@visactor/vutils/feat-wcag-color-brightness_2025-01-15-08-18.json
  packages/vutils/src/color/Color.ts
Labels: @pkg/util

docs: add comment
  packages/vutils/src/color/Color.ts
Labels: @pkg/util

build: prelease version 0.19.4-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

feat: add @visactor/vdescription-midscene
  common/config/rush/pnpm-lock.yaml
  packages/vdescription-midscene/.eslintrc.js
  packages/vdescription-midscene/CHANGELOG.json
  packages/vdescription-midscene/CHANGELOG.md
  packages/vdescription-midscene/README.md
  packages/vdescription-midscene/README.zh-CN.md
  packages/vdescription-midscene/__tests__/utils/dom.ts
  packages/vdescription-midscene/__tests__/vchart.test.ts
  packages/vdescription-midscene/__tests__/vtable.test.ts
  packages/vdescription-midscene/bundler.config.js
  packages/vdescription-midscene/jest.config.js
  packages/vdescription-midscene/package.json
  packages/vdescription-midscene/src/index.ts
  packages/vdescription-midscene/src/util.ts
  packages/vdescription-midscene/src/vchart.ts
  packages/vdescription-midscene/src/vtable.ts
  packages/vdescription-midscene/tscofig.eslint.json
  packages/vdescription-midscene/tsconfig.json
  packages/vdescription-midscene/tsconfig.test.json
  rush.json
Labels: test, eslint, jest, typescript, bundler

chore: add rush change
  common/changes/@visactor/vdescription-midscene/feat-midscene_2025-01-20-07-55.json
Labels: none

chore: update pnpm lock
  common/config/rush/pnpm-lock.yaml
Labels: none

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
