Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

feat: add style utils `styleStringToObject` and `lowerCamelCaseToMiddle`
  packages/vutils/src/dom.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/feat-bounds-util_2024-04-26-02-27.json
Labels: none

test: add test case of dom and bounds-utils
  packages/vutils/__tests__/dom.test.ts
  packages/vutils/__tests__/graphics/bounds-util.test.ts
Labels: test

fix: fix type path
  packages/vutils/src/graphics/bounds-util.ts
Labels: @pkg/util

fix: fix params type of `calculateAnchorOfBounds()`
  packages/vutils/src/graphics/bounds-util.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/fix-bounds-utils-type_2024-04-26-10-55.json
Labels: none

feat: add seed random util
  packages/vutils/__tests__/math/math.test.ts
  packages/vutils/src/math.ts
Labels: @pkg/util

feat: add arc anchor method
  packages/vutils/__tests__/graphics/arc.test.ts
  packages/vutils/src/graphics/arc.ts
  packages/vutils/src/graphics/index.ts
Labels: @pkg/util

build: prelease version 0.18.5-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

chore: revert unuseful code
  packages/vutils/__tests__/math/math.test.ts
  packages/vutils/src/math.ts
Labels: @pkg/util

fix: remove unuseful code
  packages/vutils/__tests__/math/math.test.ts
Labels: none

feat: add `seedRandom`
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/random.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/feat-seed-random_2024-05-08-03-34.json
Labels: none

feat: add some utils, `isDataView`, `normalizeAngle`, .etc
  packages/vdataset/src/data-view.ts
  packages/vutils/src/angle.ts
  packages/vutils/src/common/bisect.ts
  packages/vutils/src/dom.ts
  packages/vutils/src/graphics/algorithm/intersect.ts
Labels: @pkg/core, @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-add-some-utils_2024-05-15-10-04.json
  common/changes/@visactor/vutils/feat-add-some-utils_2024-05-15-10-04.json
Labels: none

fix: revert `bisect`
  packages/vutils/src/common/bisect.ts
Labels: @pkg/util

test: add test case of utils
  packages/vdataset/__tests__/dataview.test.ts
  packages/vdataset/src/index.ts
  packages/vutils/__tests__/angle.test.ts
  packages/vutils/__tests__/common/bisect.test.ts
  packages/vutils/__tests__/dom.test.ts
  packages/vutils/src/common/bisect.ts
  packages/vutils/src/common/index.ts
  packages/vutils/src/fmin/bisect.ts
  packages/vutils/src/fmin/index.ts
Labels: @pkg/core, @pkg/util, test

fix: fix circlular deps
  packages/vutils/src/logger.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/fix-circular-dep_2024-05-17-11-38.json
Labels: none

feat: add `calculateMaxRadius()` and `findBoundaryAngles()`
  packages/vutils/__tests__/angle.test.ts
  packages/vutils/src/angle.ts
Labels: @pkg/util, test

docs: update changlog of rush
  common/changes/@visactor/vutils/feat-angle-utils_2024-05-24-07-02.json
Labels: none

fix: fix bug at `pointAt` when x,y is undefined
  packages/vutils/__tests__/math/math.test.ts
  packages/vutils/src/math.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/fix-point-at-of-undefined_2024-06-26-05-59.json
Labels: none

refactor: reduce repeated codes
  packages/vscale/src/log-nice-mixin.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
  packages/vscale/src/utils/tick-sample-int.ts
  packages/vutils/src/color/Color.ts
  packages/vutils/src/common/cloneDeep.ts
  packages/vutils/src/common/merge.ts
  packages/vutils/src/graphics/algorithm/intersect.ts
  packages/vutils/src/graphics/text/measure/util.ts
Labels: @pkg/util

fix: fix test error
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
  packages/vutils/__tests__/color/color.test.ts
Labels: none

fix: export mergebase
  packages/vutils/__tests__/graphics/intersect.test.ts
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/merge.ts
Labels: @pkg/util

fix: fix error of parse color string
  packages/vutils/__tests__/color/color.test.ts
  packages/vutils/src/color/Color.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/fix-parse-color-string_2024-07-18-07-43.json
Labels: none

feat: add function `computeQuadrant`
  packages/vutils/src/angle.ts
Labels: @pkg/util

test: add test case of `computeQuadrant`
  packages/vutils/__tests__/angle.test.ts
Labels: test

docs: update changelog of rush
  common/changes/@visactor/vutils/feat-compute-quadrant_2024-08-01-03-04.json
Labels: none

feat(vscale): add wilkinson-extend tick method, only use in linear-scale
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
Labels: test

feat(vscale): add wilkinson-extend tick method, only use in linear-scale
  packages/vscale/__tests__/wilkinson-extended.test.ts
  packages/vscale/src/utils/tick-wilkinson-extended.ts
Labels: test

feat(vscale): add customTicks options, export wilkinson function for custom use
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/src/base-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/utils/index.ts
Labels: test

feat: add change file for vscale
  common/changes/@visactor/vscale/feat-wikinson_extended_2024-08-12-11-48.json
Labels: none

Revert "feat: add change file for vscale"
  common/changes/@visactor/vscale/feat-wikinson_extended_2024-08-12-11-48.json
Labels: none

docs: update changlog of rush
  .vscode/launch.json
  .vscode/settings.json
  common/changes/@visactor/vscale/feat-wikinson_extended_2024-08-12-11-58.json
  packages/vscale/package.json
  packages/vutils/package.json
  share/jest-config/jest.base.js
Labels: jest

Revert "docs: update changlog of rush"
  .vscode/launch.json
  .vscode/settings.json
  common/changes/@visactor/vscale/feat-wikinson_extended_2024-08-12-11-58.json
  packages/vscale/package.json
  packages/vutils/package.json
  share/jest-config/jest.base.js
Labels: jest

Revert "Revert "feat: add change file for vscale""
  common/changes/@visactor/vscale/feat-wikinson_extended_2024-08-12-11-48.json
Labels: none

feat: update changelog
  common/changes/@visactor/vscale/feat-wikinson_extended_2024-08-12-11-48.json
Labels: none
