Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-11-09-29.json
Labels: none

build: prelease version 0.15.13-alpha.4
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

refactor: re-export color module
  common/changes/@visactor/vutils/refactor-color-export_2023-09-13-02-29.json
  packages/vutils/src/index.ts
Labels: @pkg/util

fix: linear-scale should only call rescale() when need
  packages/vscale/src/linear-scale.ts
Labels: none

fix: when only set niceMin or niceMax, the _niceDomain should be update
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/src/linear-scale.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-nice-max-ticks_2023-09-13-08-41.json
Labels: none

chore: add unit test task in release workflow
  .github/workflows/release.yml
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-nice-max-ticks_2023-09-13-08-41.json
Labels: none

chore: add unit test task in release workflow
  .github/workflows/release.yml
Labels: none

fix: linear-scale should only call rescale() when need
  packages/vscale/src/linear-scale.ts
Labels: none

fix: when only set niceMin or niceMax, the _niceDomain should be update
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/src/linear-scale.ts
Labels: test

feat: band scale support fixed band width
  packages/vscale/src/band-scale.ts
  packages/vscale/src/base-scale.ts
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/utils/utils.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-08-12-29.json
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-09-18-16.json
Labels: none

fix: band scale support fixed band width
  packages/vscale/src/band-scale.ts
Labels: none

fix: update exported types of `IBandLikeScale`
  packages/vscale/src/band-scale.ts
  packages/vscale/src/interface.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-09-19-16.json
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-10-23-13.json
Labels: none

fix: the start value or end value of rangeFactor in band scale is auto-reserved
  packages/vscale/src/band-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/utils/utils.ts
Labels: none

fix: keep the `bandScale.calculateWholeRangeSize()` return result positive
  packages/vscale/src/band-scale.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-11-09-29.json
Labels: none

build: prelease version 0.16.0-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

build: prelease version 0.16.0-alpha.2
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

build: prelease version 0.16.0-alpha.2
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

build: prelease version 0.16.0-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: fix isValidScale did not include threshold scale
  packages/vscale/src/type.ts
Labels: typescript

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-isvalid-scale-include-threshold_2023-09-20-06-44.json
Labels: none

chore: change isValidScale switch to map
  packages/vscale/src/type.ts
Labels: typescript

chore: add isValidScaleType unit test
  packages/vscale/__tests__/common.test.ts
Labels: test

feat: add fish eye effect of scale
  packages/vscale/__tests__/fish-eye.test.ts
  packages/vscale/src/band-scale.ts
  packages/vscale/src/base-scale.ts
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/ordinal-scale.ts
  packages/vscale/src/type.ts
Labels: test, typescript

docs: update changlog of rush
  common/changes/@visactor/vscale/feat-fish-eye_2023-10-12-09-29.json
Labels: none

fix: fix the fucntion `supportRangeFactor()`
  packages/vscale/src/type.ts
Labels: typescript

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-support-range-factor_2023-10-13-03-43.json
Labels: none

fix: fix the issue when only set minBandWidth or maxBandWidth
  packages/vscale/__tests__/band-width.test.ts
  packages/vscale/src/band-scale.ts
Labels: test

perf: try to optimize performance of dataset and dataview
  packages/vdataset/src/data-set.ts
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

fix: fix is base64 reg issue
  common/changes/@visactor/vutils/fix-base64-reg_2023-10-26-07-33.json
  packages/vutils/src/common/isBase64.ts
Labels: @pkg/util

feat: change static class lru to object
  common/changes/@visactor/vutils/feat-lru-static-dynamic_2023-10-31-08-47.json
  packages/vutils/src/lru.ts
Labels: @pkg/util

feat: downgrade d3-dsv in vdataset
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
Labels: none

build: prelease version 0.16.7-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: log nice problem
  packages/vscale/__tests__/log-nice-option.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/symlog.test.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
Labels: test
