Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

build: prelease version 0.19.4-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vdescription-midscene/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: fix rangeFactor when fix band width
  packages/vscale/src/band-scale.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-range-factor-of-band-scale_2025-02-06-11-06.json
Labels: none

fix: fix rangeFactor when fix band width
  packages/vscale/src/band-scale.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-range-factor-of-band-scale_2025-02-06-11-06.json
Labels: none

feat: add utils for bounds sepaeation
  common/changes/@visactor/vutils/feat-bounds-intersects-with-sep_2025-03-25-12-15.json
  packages/vutils/src/data-structure/bounds.ts
  packages/vutils/src/graphics/bounds-util.ts
Labels: @pkg/util

fix: optimize `isOBBWithinSeparation`
  packages/vutils/src/data-structure/bounds.ts
  packages/vutils/src/graphics/bounds-util.ts
Labels: @pkg/util

refactor: optimize fucntion implement
  packages/vutils/src/graphics/bounds-util.ts
Labels: @pkg/util

feat: add unit test case
  packages/vutils/__tests__/data-structure/obb.test.ts
Labels: none

fix: linear scale clone get incorrect domain
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/src/linear-scale.ts
Labels: test

docs: add changelog of rush
  common/changes/@visactor/vscale/fix-linear-scale-clone_2025-04-09-06-59.json
Labels: none

refactor: optimize fucntion implement
  packages/vutils/src/graphics/bounds-util.ts
Labels: @pkg/util

feat: add utils for bounds sepaeation
  common/changes/@visactor/vutils/feat-bounds-intersects-with-sep_2025-03-25-12-15.json
  packages/vutils/src/data-structure/bounds.ts
  packages/vutils/src/graphics/bounds-util.ts
Labels: @pkg/util

feat: add unit test case
  packages/vutils/__tests__/data-structure/obb.test.ts
Labels: none

fix: optimize `isOBBWithinSeparation`
  packages/vutils/src/data-structure/bounds.ts
  packages/vutils/src/graphics/bounds-util.ts
Labels: @pkg/util

test: fix error of test case in wordcloud
  common/config/rush/pnpm-lock.yaml
  packages/vlayouts/__tests__/mock.ts
  packages/vlayouts/__tests__/wordcloud/cloud-layout.test.ts
  packages/vlayouts/__tests__/wordcloud/fast-layout.test.ts
  packages/vlayouts/__tests__/wordcloud/grid-layout.test.ts
  packages/vlayouts/__tests__/wordcloud/util.test.ts
  packages/vlayouts/__tests__/wordcloud/wordcloud.test.ts
  packages/vlayouts/jest.config.js
  packages/vlayouts/package.json
  packages/vlayouts/src/imagecloud/layout/basic.ts
  packages/vlayouts/src/wordcloud-shape/layout.ts
  packages/vlayouts/src/wordcloud/grid-layout.ts
Labels: test, jest

test: update case case of vutils and vlayouts
  packages/vlayouts/__tests__/imagecloud/shape.test.ts
  packages/vutils/__tests__/common/extent.test.ts
  packages/vutils/__tests__/common/field.test.ts
  packages/vutils/__tests__/common/getter.test.ts
  packages/vutils/__tests__/common/to-percent.test.ts
Labels: none

feat: add regression-linear in vutils
  packages/vutils/__tests__/common/regression-linear.test.ts
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/regression-linear.ts
Labels: @pkg/util

fix: fix error path on vlayouts
  packages/vlayouts/src/wordcloud-shape/layout.ts
Labels: none

fix: fix release error
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vlayouts/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

chore: fix version in version-policies
  common/config/rush/version-policies.json
Labels: none

fix: fix error of projection
  packages/vdataset/src/projection/projections.ts
  packages/vlayouts/src/imagecloud/index.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-projection-error_2025-05-07-04-02.json
  common/changes/@visactor/vlayouts/fix-projection-error_2025-05-07-04-02.json
Labels: none

fix: fix error of projection
  packages/vdataset/src/projection/projections.ts
  packages/vlayouts/src/imagecloud/index.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-projection-error_2025-05-07-04-02.json
  common/changes/@visactor/vlayouts/fix-projection-error_2025-05-07-04-02.json
Labels: none

fix: export more types for imagecloud
  packages/vlayouts/src/imagecloud/index.ts
Labels: none

docs: add changelog of rush
  common/changes/@visactor/vlayouts/fix-imagecloud-type-export_2025-05-09-06-50.json
Labels: none

fix: duplicate type defination
  packages/vlayouts/src/imagecloud/interface.ts
  packages/vlayouts/src/imagecloud/layout/basic.ts
  packages/vlayouts/src/imagecloud/layout/spiral.ts
Labels: none

docs: add changelog of rush
  common/changes/@visactor/vlayouts/fix-imagecloud-type-export_2025-05-09-06-50.json
Labels: none

fix: duplicate type defination
  packages/vlayouts/src/imagecloud/interface.ts
  packages/vlayouts/src/imagecloud/layout/basic.ts
  packages/vlayouts/src/imagecloud/layout/spiral.ts
Labels: none

fix: export more types for imagecloud
  packages/vlayouts/src/imagecloud/index.ts
Labels: none

fix: build error
  packages/vlayouts/src/imagecloud/index.ts
Labels: none

feat: add `skipEqual` option to dataview transform
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-dataview-skip-equal_2025-05-09-09-34.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-dataset-fields-sort_2025-05-12-02-29.json
Labels: none

feat: support sort in data fields transform
  packages/vdataset/__tests__/fields.test.ts
  packages/vdataset/src/data-view.ts
  packages/vdataset/src/transform/fields.ts
Labels: @pkg/core, test

chore: change note about version
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vlayouts/feat-venn_2025-05-14-13-16.json
  common/changes/@visactor/vutils/feat-venn_2025-05-14-13-16.json
  packages/vlayouts/__tests__/venn/venn.test.ts
  packages/vlayouts/src/venn/utils/label.ts
  packages/vlayouts/src/venn/venn.ts
  packages/vutils/src/geo/circle-intersection.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vlayouts/feat-venn_2025-05-15-03-24.json
  common/changes/@visactor/vutils/feat-venn_2025-05-15-03-24.json
  packages/vlayouts/__tests__/venn/venn.test.ts
  packages/vlayouts/src/venn/utils/label.ts
Labels: none

fix: export utils and interface of venn
  packages/vlayouts/src/venn/index.ts
Labels: none

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
