Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

docs: update changlog of rush
  common/changes/@visactor/vlayouts/fix-export-venn-utils_2025-05-16-03-21.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vlayouts/feat-venn_2025-05-16-06-12.json
  common/changes/@visactor/vutils/feat-venn_2025-05-16-06-12.json
  packages/vlayouts/__tests__/venn/venn.test.ts
  packages/vlayouts/src/venn/interface.ts
  packages/vlayouts/src/venn/venn.ts
Labels: none

chore: delete outdated changelog files
  common/changes/@visactor/vlayouts/feat-venn_2025-05-14-13-16.json
  common/changes/@visactor/vlayouts/feat-venn_2025-05-15-03-24.json
  common/changes/@visactor/vutils/feat-venn_2025-05-14-13-16.json
  common/changes/@visactor/vutils/feat-venn_2025-05-15-03-24.json
Labels: none

fix: filter out empty sets from upstream data in venn transformation
  packages/vlayouts/src/venn/venn.ts
Labels: none

feat: enhance venn diagram scaling to handle empty sets
  packages/vlayouts/src/venn/utils/solution/scale-solution.ts
  packages/vlayouts/src/venn/venn.ts
Labels: none

refactor: simplify empty set handling and centralize diagram offset
  packages/vlayouts/src/venn/utils/solution/scale-solution.ts
  packages/vlayouts/src/venn/venn.ts
Labels: none

refactor: simplify empty set handling and centralize diagram offsets
  packages/vlayouts/src/venn/interface.ts
  packages/vlayouts/src/venn/utils/label.ts
  packages/vlayouts/src/venn/venn.ts
  packages/vutils/src/geo/circle-intersection.ts
Labels: @pkg/util

test: improve tests for 2 and 1 element venn diagrams with empty sets
  packages/vlayouts/__tests__/venn/venn.test.ts
Labels: none

fix: band scale should not return value exceed range
  packages/vscale/__tests__/band.test.ts
  packages/vscale/src/band-scale.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-band-scale-ticks_2025-06-25-03-55.json
Labels: none

fix: band scale should not return value exceed range
  packages/vscale/__tests__/band.test.ts
  packages/vscale/src/band-scale.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vscale/v0.19.6_2025-06-25-06-34.json
Labels: none

feat: add emptySet option to IVennTransformOptions and update transform logic
  common/changes/@visactor/vlayouts/feat-venn_2025-05-16-06-12.json
  common/changes/@visactor/vutils/feat-venn_2025-05-16-06-12.json
  packages/vlayouts/src/venn/interface.ts
  packages/vlayouts/src/venn/venn.ts
Labels: none

chore: delete outdated changelog files
  common/changes/@visactor/vlayouts/feat-venn_2025-05-14-13-16.json
  common/changes/@visactor/vlayouts/feat-venn_2025-05-15-03-24.json
  common/changes/@visactor/vutils/feat-venn_2025-05-14-13-16.json
  common/changes/@visactor/vutils/feat-venn_2025-05-15-03-24.json
Labels: none

test: improve tests for 2 and 1 element venn diagrams with empty sets
  packages/vlayouts/__tests__/venn/venn.test.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vlayouts/feat-venn_2025-05-16-06-12.json
  common/changes/@visactor/vutils/feat-venn_2025-05-16-06-12.json
  packages/vlayouts/__tests__/venn/venn.test.ts
  packages/vlayouts/src/venn/interface.ts
  packages/vlayouts/src/venn/venn.ts
Labels: none

fix: filter out empty sets from upstream data in venn transformation
  packages/vlayouts/src/venn/venn.ts
Labels: none

feat: add emptySet option to IVennTransformOptions and update transform logic
  common/changes/@visactor/vlayouts/feat-venn_2025-05-16-06-12.json
  common/changes/@visactor/vutils/feat-venn_2025-05-16-06-12.json
  packages/vlayouts/src/venn/interface.ts
  packages/vlayouts/src/venn/venn.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vlayouts/feat-venn_2025-05-15-03-24.json
  common/changes/@visactor/vutils/feat-venn_2025-05-15-03-24.json
  packages/vlayouts/__tests__/venn/venn.test.ts
  packages/vlayouts/src/venn/utils/label.ts
Labels: none

feat: enhance venn diagram scaling to handle empty sets
  packages/vlayouts/src/venn/utils/solution/scale-solution.ts
  packages/vlayouts/src/venn/venn.ts
Labels: none

refactor: simplify empty set handling and centralize diagram offset
  packages/vlayouts/src/venn/utils/solution/scale-solution.ts
  packages/vlayouts/src/venn/venn.ts
Labels: none

refactor: simplify empty set handling and centralize diagram offsets
  packages/vlayouts/src/venn/interface.ts
  packages/vlayouts/src/venn/utils/label.ts
  packages/vlayouts/src/venn/venn.ts
  packages/vutils/src/geo/circle-intersection.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vlayouts/feat-venn_2025-05-14-13-16.json
  common/changes/@visactor/vutils/feat-venn_2025-05-14-13-16.json
  packages/vlayouts/__tests__/venn/venn.test.ts
  packages/vlayouts/src/venn/utils/label.ts
  packages/vlayouts/src/venn/venn.ts
  packages/vutils/src/geo/circle-intersection.ts
Labels: @pkg/util

feat: add columns information in sankey nodeHeight callback
  packages/vlayouts/src/sankey/interface.ts
  packages/vlayouts/src/sankey/layout.ts
Labels: none

fix: correct since version
  packages/vlayouts/src/sankey/interface.ts
Labels: none

docs: add changelog
  common/changes/@visactor/vlayouts/feat-sankey-nodeHeight-callback_2025-07-07-07-16.json
Labels: none

feat: export function makeHierarchicNodes about sankey
  packages/vlayouts/src/sankey/hierarchy.ts
  packages/vlayouts/src/sankey/layout.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vlayouts/feat-export-sankey-makeHierarchicNodes_2025-07-29-11-23.json
Labels: none

feat: export function computeHierarchicNodeLinks for sankey
  packages/vlayouts/src/sankey/hierarchy.ts
  packages/vlayouts/src/sankey/layout.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vlayouts/feat-export-sankey-computeHierarchicNodeLinks_2025-07-30-06-30.json
Labels: none

feat: export function computeHierarchicNodeLinks for sankey
  packages/vlayouts/src/sankey/hierarchy.ts
  packages/vlayouts/src/sankey/layout.ts
Labels: none

fix: fix bug of wordcloud layout
  packages/vlayouts/src/wordcloud/cloud-layout.ts
Labels: none

build: prelease version 1.0.9-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vlayouts/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vlayouts/fix-fix-bug-of-wordcloud-layout_2025-08-22-09-23.json
Labels: none

perf: optimize getType and isType
  packages/vutils/src/common/getType.ts
  packages/vutils/src/common/isType.ts
Labels: @pkg/util

chore(vutils): improve code comments - color/Color.ts
  packages/vutils/src/color/Color.ts
Labels: @pkg/util

chore(tsconfig): preserve comments in TypeScript build output
  share/ts-config/tsconfig.base.json
Labels: typescript

feat: add regression lines and dataset transform bin
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/index.ts
  packages/vdataset/src/transform/bin.ts
  packages/vutils/__tests__/common/regression-linear.test.ts
  packages/vutils/__tests__/ecdf.test.ts
  packages/vutils/__tests__/kde.test.ts
  packages/vutils/__tests__/regression.test.ts
  packages/vutils/src/common/ecdf.ts
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/kde.ts
  packages/vutils/src/common/regression-linear.ts
  packages/vutils/src/common/regression-logistic.ts
  packages/vutils/src/common/regression-lowess.ts
  packages/vutils/src/common/regression-polynomial.ts
  packages/vutils/src/common/regression-utils.ts
Labels: @pkg/core, @pkg/util, test

feat: add options `outputNames` for bin
  packages/vdataset/__tests__/bin.test.ts
  packages/vdataset/src/transform/bin.ts
Labels: @pkg/core, test

feat: add transform boxplot
  packages/vdataset/__tests__/boxplot.test.ts
  packages/vdataset/src/index.ts
  packages/vdataset/src/transform/boxplot.ts
Labels: @pkg/core, test
