Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

fix: linear-scale only generate ticks that may exceed the domain when nice is true
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/pow.test.ts
  packages/vscale/src/linear-scale.ts
Labels: test

fix: filter ticks when only niceMin or niceMax
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/src/linear-scale.ts
Labels: test

feat(vutil): add function `memoize()`
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/memoize.ts
Labels: @pkg/util

docs: update changelog of rush
  common/changes/@visactor/vscale/feat-optimize-ticks_2023-08-02-09-02.json
Labels: none

feat: ticks of linear-scale will update domain when nice is true
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/symlog.test.ts
  packages/vscale/src/band-scale.ts
  packages/vscale/src/base-scale.ts
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/ordinal-scale.ts
Labels: test

fix: linear-scale will only call new ticks when nice is true
  packages/vscale/src/linear-scale.ts
Labels: none

fix(vscale): add `d3Ticks()` to replace `ticks()`
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/pow.test.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

fix: filter ticks when only niceMin or niceMax
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/src/linear-scale.ts
Labels: test

feat: optimize ticks in two case: 1. equal values, 2. tickCount should match parameters, fix #51
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/__tests__/tick-single-value.test.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

fix: remove useless branch of `calculateTicksOfSingleValue()`
  packages/vscale/src/utils/tick-sample.ts
Labels: none

fix: linear-scale only generate ticks that may exceed the domain when nice is true
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/pow.test.ts
  packages/vscale/src/linear-scale.ts
Labels: test

fix(vscale): fix ticks of same special cases
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

chore: all the packages use the same version when release
  .github/workflows/pre-release.yml
  common/config/rush/version-policies.json
  rush.json
Labels: none

chore: update release workflow of vutils
  .github/workflows/release.yml
Labels: none

chore: update README logo to adapt dark mode
  README.md
  README.zh-CN.md
Labels: none

fix: fix d3ticks when min === max or min and max are almost equal
  packages/vscale/src/utils/tick-sample.ts
Labels: none

chore: parse `nextBump` of version policies by release type
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: none

test(vscale): update some test cases
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/src/linear-scale.ts
Labels: test

fix: fix d3ticks when min === max or min and max are almost equal
  packages/vscale/src/utils/tick-sample.ts
Labels: none

test(vscale): update some test cases
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/src/linear-scale.ts
Labels: test

chore: parse `nextBump` of version policies by release type
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: none

feat(vscale): add option `noDecimals` to ticks and d3Ticks of linear-scale
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/__tests__/tick-single-value.test.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

feat(vscale): add option `noDecimals` to ticks and d3Ticks of linear-scale
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/__tests__/tick-single-value.test.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

chore: fix params of workflow
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: none

chore: fix release workflow of parsing `nextBump`
  .github/workflows/release.yml
Labels: none

chore: fix release workflow of parsing `nextBump`
  .github/workflows/release.yml
Labels: none

chore: fix params of workflow
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: none

fix: ticks() should not require strict tickCount
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-no-strict-tick-count_2023-08-08-11-29.json
Labels: none

feat: add niceoptions about forceMin, forceMax, min, max to continuous scales
  packages/vscale/__tests__/linear-nice-option.test.ts
  packages/vscale/__tests__/log-nice-option.test.ts
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-no-strict-tick-count_2023-08-09-07-46.json
Labels: none

feat(dataview): support setFields in dataView, details in #62
  packages/vdataset/__tests__/fields.test.ts
  packages/vdataset/src/data-view.ts
Labels: @pkg/core, test

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-support-setFields-in-dataset_2023-08-09-08-43.json
Labels: none

fix: log-scale should handle niceDomain in `scale()` and `invert()`
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/log-scale.ts
Labels: none

feat(dataview): support setFields in dataView, details in #62
  packages/vdataset/__tests__/fields.test.ts
  packages/vdataset/src/data-view.ts
Labels: @pkg/core, test

docs: update changlog of rush
  common/changes/@visactor/vdataset/feat-support-setFields-in-dataset_2023-08-09-08-43.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-no-strict-tick-count_2023-08-09-07-46.json
Labels: none

fix: log-scale should handle niceDomain in `scale()` and `invert()`
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/log-scale.ts
Labels: none

feat: add niceoptions about forceMin, forceMax, min, max to continuous scales
  packages/vscale/__tests__/linear-nice-option.test.ts
  packages/vscale/__tests__/log-nice-option.test.ts
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

fix(fields): fix the bug of when unset option to get fields
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
