Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

build: prelease version 0.15.8
  common/config/rush/version-policies.json
  packages/vscale/package.json
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-band-width_2023-08-16-07-33.json
Labels: none

feat: fixed band width
  packages/vscale/src/band-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/utils/utils.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-band-width_2023-08-16-07-33.json
Labels: none

fix: fix bug of dataView parse option when the type is undefiend
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-dataview-parser-option-set_2023-09-04-11-26.json
Labels: none

refactor: remove deplicated color code
  packages/vdataset/src/utils/color/color.ts
  packages/vdataset/src/utils/color/index.ts
  packages/vdataset/src/utils/color/math-util.ts
  packages/vutils/src/color/Color.ts
Labels: @pkg/core, @pkg/util

feat: support precision math of add & sub
  packages/vutils/__tests__/math/math.test.ts
  packages/vutils/src/math.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/feat-support-precision-add-sub_2023-09-07-03-34.json
Labels: none

feat: use ** to replace math.power
  packages/vutils/src/math.ts
Labels: @pkg/util

feat: support precision math of add & sub
  packages/vutils/__tests__/math/math.test.ts
  packages/vutils/src/math.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/feat-support-precision-add-sub_2023-09-07-03-34.json
Labels: none

feat: use ** to replace math.power
  packages/vutils/src/math.ts
Labels: @pkg/util

refactor: remove textMeasure test code
  packages/vutils/__tests__/text/textMeasure.test.ts
  packages/vutils/__tests__/text/util.ts
  packages/vutils/src/graphics/text/measure/index.ts
Labels: @pkg/util

refactor: remove duplicated arrayEqual code
  packages/vscale/src/quantile-scale.ts
  packages/vscale/src/quantize-scale.ts
  packages/vscale/src/utils/array.ts
Labels: none

refactor: remove textMeasure test code
  packages/vutils/__tests__/text/textMeasure.test.ts
  packages/vutils/__tests__/text/util.ts
  packages/vutils/src/graphics/text/measure/index.ts
Labels: @pkg/util

refactor: remove deplicated color code
  packages/vdataset/src/utils/color/color.ts
  packages/vdataset/src/utils/color/index.ts
  packages/vdataset/src/utils/color/math-util.ts
  packages/vutils/src/color/Color.ts
Labels: @pkg/core, @pkg/util

refactor: remove duplicated arrayEqual code
  packages/vscale/src/quantile-scale.ts
  packages/vscale/src/quantize-scale.ts
  packages/vscale/src/utils/array.ts
Labels: none

chore: add `"sideEffects": false` to vdataset and vutils
  packages/vdataset/package.json
  packages/vutils/package.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vdataset/chore-side-effects_2023-09-08-08-50.json
  common/changes/@visactor/vutils/chore-side-effects_2023-09-08-08-50.json
Labels: none

chore: update release scripts
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  common/config/rush/version-policies.json
  common/scripts/apply-prerelease-version.js
  common/scripts/get-package-json.js
  common/scripts/parse-version.js
  common/scripts/pre-release.js
  common/scripts/release.js
  common/scripts/set-json-file.js
  common/scripts/set-prerelease-version.js
  common/scripts/version-policies.js
Labels: chore

chore: fix version-policies.js
  common/scripts/release.js
  common/scripts/version-policies.js
Labels: chore

build: prelease version 0.15.11-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

chore: add `"sideEffects": false` to vdataset and vutils
  packages/vdataset/package.json
  packages/vutils/package.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vdataset/chore-side-effects_2023-09-08-08-50.json
  common/changes/@visactor/vutils/chore-side-effects_2023-09-08-08-50.json
Labels: none

chore: update release scripts
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  common/config/rush/version-policies.json
  common/scripts/apply-prerelease-version.js
  common/scripts/get-package-json.js
  common/scripts/parse-version.js
  common/scripts/pre-release.js
  common/scripts/release.js
  common/scripts/set-json-file.js
  common/scripts/set-prerelease-version.js
  common/scripts/version-policies.js
Labels: chore

chore: fix version-policies.js
  common/scripts/release.js
  common/scripts/version-policies.js
Labels: chore

feat: band scale support fixed band width
  packages/vscale/src/band-scale.ts
  packages/vscale/src/base-scale.ts
  packages/vscale/src/continuous-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/utils/utils.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-08-12-29.json
Labels: none

build: prelease version 0.15.13-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: band scale support fixed band width
  packages/vscale/src/band-scale.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-09-18-16.json
Labels: none

build: prelease version 0.15.13-alpha.1
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: update exported types of `IBandLikeScale`
  packages/vscale/src/band-scale.ts
  packages/vscale/src/interface.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-09-19-16.json
Labels: none

build: prelease version 0.15.13-alpha.2
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: the start value or end value of rangeFactor in band scale is auto-reserved
  packages/vscale/src/band-scale.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/utils/utils.ts
Labels: none

chore: update changelog
  common/changes/@visactor/vscale/feat-fixed-band-width_2023-09-10-23-13.json
Labels: none

build: prelease version 0.15.13-alpha.3
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: keep the `bandScale.calculateWholeRangeSize()` return result positive
  packages/vscale/src/band-scale.ts
Labels: none

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
