Repository VisActor/VUtil, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/util, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'dataset' label to any change within the 'core' package
'@pkg/core':
  - packages/vdataset/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vutils/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vscale/src/type.ts
  - packages/vutils/src/type.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

fix: fix bug of `getContainerSize()` when the container has `display: none`, close #156
  packages/vutils/src/dom.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/fix-container-size-when-display-none_2023-12-22-07-44.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vdataset/fix-get-container-size_2023-12-22-07-49.json
  common/changes/@visactor/vscale/fix-get-container-size_2023-12-22-07-49.json
  common/changes/@visactor/vutils/fix-get-container-size_2023-12-22-07-49.json
Labels: none

refactor: remove static parseColorString
  packages/vutils/src/color/Color.ts
  packages/vutils/src/color/RGB.ts
  packages/vutils/src/color/defaultColors.ts
  packages/vutils/src/color/index.ts
  packages/vutils/src/color/numberToHex.ts
  packages/vutils/src/color/numberToRgb.ts
  packages/vutils/src/color/parseColorString.ts
Labels: @pkg/util

refactor: remove unused code
  packages/vutils/src/data-structure/hashTable.ts
  packages/vutils/src/data-structure/index.ts
  packages/vutils/src/graphics/algorithm/index.ts
  packages/vutils/src/graphics/graph-util.ts
  packages/vutils/src/graphics/index.ts
  packages/vutils/src/index.ts
  packages/vutils/src/lru.ts
Labels: @pkg/util

refactor: split function in PointService
  packages/vutils/src/data-structure/point.ts
  packages/vutils/src/graphics/distance.ts
  packages/vutils/src/graphics/index.ts
Labels: @pkg/util

refactor: split function in PointService
  packages/vutils/src/data-structure/point.ts
  packages/vutils/src/graphics/distance.ts
  packages/vutils/src/graphics/index.ts
Labels: @pkg/util

fix: remove usage of ColorUtils
  packages/vdataset/src/utils/color/index.ts
  packages/vscale/src/utils/interpolate.ts
  packages/vutils/src/color/Color.ts
  packages/vutils/src/color/index.ts
  packages/vutils/src/color/interpolate.ts
  packages/vutils/src/color/numberToRgb.ts
  packages/vutils/src/color/parseColorString.ts
  packages/vutils/src/color/rgb.ts
Labels: @pkg/core, @pkg/util

fix: fix the issue of log-scale when domain has zero
  packages/vscale/__tests__/log.test.ts
  packages/vscale/src/log-scale.ts
Labels: test

build: prelease version 0.17.2-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: globalThis might be undefined
  packages/vutils/src/graphics/text/measure/textMeasure.ts
Labels: @pkg/util

fix: globalThis might be undefined
  packages/vutils/src/graphics/text/measure/textMeasure.ts
Labels: @pkg/util

fix: fix the bug of log-scale ticks
  packages/vscale/__tests__/log.test.ts
  packages/vscale/src/log-scale.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vscale/fix-log-ticks_2023-12-28-08-48.json
Labels: none

fix: remove usage of ColorUtils
  packages/vdataset/src/utils/color/index.ts
  packages/vscale/src/utils/interpolate.ts
  packages/vutils/src/color/Color.ts
  packages/vutils/src/color/index.ts
  packages/vutils/src/color/interpolate.ts
  packages/vutils/src/color/numberToRgb.ts
  packages/vutils/src/color/parseColorString.ts
  packages/vutils/src/color/rgb.ts
Labels: @pkg/core, @pkg/util

build: prelease version 0.18.0-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: symlog tick. fix#@visactor/vchart#1563
  common/changes/@visactor/vscale/fix-symlog-tick_2024-01-25-04-20.json
  packages/vscale/__tests__/symlog.test.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

fix: delete no use test code
  packages/vscale/src/symlog-scale.ts
Labels: none

feat: add format utilities for time/number value
  packages/vutils/__tests__/format/number.test.ts
  packages/vutils/src/format/number/formatDecimal.ts
  packages/vutils/src/format/number/formatGroup.ts
  packages/vutils/src/format/number/formatPrefixAuto.ts
  packages/vutils/src/format/number/formatRounded.ts
  packages/vutils/src/format/number/formatTrim.ts
  packages/vutils/src/format/number/index.ts
  packages/vutils/src/format/number/number.ts
  packages/vutils/src/format/number/specifier.ts
  packages/vutils/src/format/time.ts
  packages/vutils/src/index.ts
Labels: @pkg/util

build: prelease version 0.18.0-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: incorrect type defination
  packages/vutils/src/format/number/number.ts
Labels: @pkg/util

build: prelease version 0.18.0-alpha.2
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

feat: export defination of `IParserOptions`
  packages/vdataset/src/index.ts
Labels: @pkg/core

docs: update changelog
  common/changes/@visactor/vdataset/dev-0.18.0_2024-02-20-11-57.json
Labels: none

fix: fix clamp of comtinuous scale
  packages/vscale/__tests__/clamp.test.ts
  packages/vscale/src/continuous-scale.ts
Labels: test

feat: export defination of `IParserOptions`
  packages/vdataset/src/index.ts
Labels: @pkg/core

docs: update changelog
  common/changes/@visactor/vdataset/dev-0.18.0_2024-02-20-11-57.json
Labels: none

feat: support the index api to get the index of value in ordianlScale.domain
  packages/vscale/__tests__/ordinal.test.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/ordinal-scale.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vscale/feat-support-index-in-ordinal-scale_2024-02-26-08-17.json
Labels: none

feat: add seed random util
  packages/vutils/__tests__/math/math.test.ts
  packages/vutils/src/math.ts
Labels: @pkg/util

fix: update the band scale range factor calculating method when resizing
  packages/vscale/src/band-scale.ts
Labels: none

fix: update changelog
  common/changes/@visactor/vscale/fix-band-scale_2024-04-07-09-47.json
Labels: none

fix: update the band scale range factor calculating method when resizing
  packages/vscale/src/band-scale.ts
Labels: none

feat: geo method for venn chart
  packages/vutils/src/fmin/bisect.ts
  packages/vutils/src/fmin/blas1.ts
  packages/vutils/src/fmin/conjugate-gradient.ts
  packages/vutils/src/fmin/index.ts
  packages/vutils/src/fmin/linesearch.ts
  packages/vutils/src/fmin/nelder-mead.ts
  packages/vutils/src/geo/circle-intersection.ts
  packages/vutils/src/geo/constant.ts
  packages/vutils/src/geo/index.ts
  packages/vutils/src/geo/interface.ts
  packages/vutils/src/index.ts
Labels: @pkg/util

build: prelease version 0.18.2-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
Labels: none

fix: move dot to math.ts
  packages/vutils/src/fmin/blas1.ts
  packages/vutils/src/fmin/conjugate-gradient.ts
  packages/vutils/src/fmin/linesearch.ts
  packages/vutils/src/math.ts
Labels: @pkg/util

fix: add protect to error
  packages/vutils/src/fmin/bisect.ts
Labels: @pkg/util

fix: add logger to fmin method
  packages/vutils/src/fmin/bisect.ts
Labels: @pkg/util

feat: add bounds util `calculateAnchorOfBounds`
  packages/vutils/src/graphics/bounds-util.ts
  packages/vutils/src/graphics/index.ts
Labels: @pkg/util

docs: update changlog of rush
  common/changes/@visactor/vutils/feat-bounds-util_2024-04-25-11-05.json
Labels: none
