Repository VisActor/VUtil, pull requests merged in 2023-08, with the labels that each got.

#57 feat(vscale): add option `noDecimals` to ticks and d3Ticks of linear-…
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/__tests__/tick-single-value.test.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/linear-scale.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

#60 Fix/no strict tick count
  common/changes/@visactor/vscale/fix-no-strict-tick-count_2023-08-08-11-29.json
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/tick-sample.test.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

#66 Feat/support set fields in dataset
  common/changes/@visactor/vdataset/feat-support-setFields-in-dataset_2023-08-10-11-49.json
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

#67 chore(compile): change compile target to ES2018
  share/ts-config/tsconfig.base.json
Labels: typescript

#70 chore: update local release scripts
  share/ts-config/tsconfig.base.json
  tools/bundler/src/bootstrap.ts
  tools/bundler/src/tasks/modules.ts
Labels: bundler, typescript

#69 Fix/fields sort domain index
  common/changes/@visactor/vdataset/fix-fields-sort-domain-index_2023-08-11-03-51.json
  packages/vdataset/__tests__/fields.test.ts
  packages/vdataset/src/transform/fields.ts
Labels: test, @pkg/core

#72 Fix/fix the clone in parse not work
  common/changes/@visactor/vdataset/fix-fix-the-clone-in-parse-not-work_2023-08-16-02-55.json
  packages/vdataset/__tests__/fields.test.ts
  packages/vdataset/__tests__/parser-clone.test.ts
  packages/vdataset/src/data-view.ts
Labels: test, @pkg/core

#74 Fix/parser option null check
  common/changes/@visactor/vdataset/fix-parserOption-null-check_2023-08-16-03-41.json
  packages/vdataset/src/data-view.ts
Labels: @pkg/core

#78 Feat/identity scale
  common/changes/@visactor/vscale/feat-identity-scale_2023-08-21-08-21.json
  packages/vscale/__tests__/identity-scale.test.ts
  packages/vscale/src/identity-scale.ts
  packages/vscale/src/index.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/type.ts
Labels: test, typescript

#76 Feat/sym log ticks
  common/changes/@visactor/vdataset/feat-symLog-ticks_2023-08-18-09-23.json
  common/changes/@visactor/vscale/feat-symLog-ticks_2023-08-18-09-23.json
  packages/vdataset/src/data-view.ts
  packages/vscale/__tests__/log-nice-option.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/symlog.test.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
  packages/vscale/src/utils/tick-sample.ts
  packages/vscale/src/utils/utils.ts
  tools/bundler/src/tasks/modules.ts
Labels: bundler, test, @pkg/core

#82 Fix/identity scale
  common/changes/@visactor/vscale/fix-identity-scale_2023-08-29-08-09.json
  packages/vscale/__tests__/identity-scale.test.ts
  packages/vscale/src/identity-scale.ts
Labels: test
