Repository VisActor/VUtil, pull requests merged in 2023-11, with the labels that each got.

#122 fix: log nice problem
  packages/vscale/__tests__/log-nice-option.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/symlog.test.ts
  packages/vscale/src/log-scale.ts
  packages/vscale/src/symlog-scale.ts
Labels: test

#120 feat: change static class lru to object
  common/changes/@visactor/vutils/feat-lru-static-dynamic_2023-10-31-08-47.json
  packages/vutils/src/lru.ts
Labels: @pkg/util

#125 Feat/line height can be string
  common/changes/@visactor/vutils/feat-lineHeight-can-be-string_2023-11-15-02-02.json
  packages/vutils/src/graphics/text/measure/interface.ts
  packages/vutils/src/graphics/text/measure/textMeasure.ts
Labels: @pkg/util

#127 Fix/log nice floor
  common/changes/@visactor/vscale/fix-log-nice-floor_2023-11-15-11-33.json
  packages/vscale/__tests__/log-nice-option.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/src/log-scale.ts
Labels: test

#129 Feat/is equal skip function
  common/changes/@visactor/vutils/feat-isEqual-skip-function_2023-11-16-09-35.json
  packages/vutils/src/common/isEqual.ts
Labels: @pkg/util

#136 feat: add substitute method
  common/config/rush/pnpm-lock.yaml
  packages/vutils/__tests__/common/substitute.test.ts
  packages/vutils/src/common/index.ts
  packages/vutils/src/common/substitute.ts
Labels: @pkg/util

#143 feat: max and min
  common/changes/@visactor/vutils/feat-min-and-max_2023-11-23-03-30.json
  packages/vutils/src/common/array.ts
Labels: @pkg/util

#151 feat: support set logger in DataSet
  packages/vdataset/src/data-set.ts
Labels: @pkg/core
