Repository VisActor/VUtil, pull requests merged in 2023-06, with the labels that each got.

#11 Feat/pre commit
  .github/workflows/unit-test.yml
  packages/vdataset/bundler.config.js
  packages/vdataset/package.json
  packages/vscale/__tests__/linear.test.ts
  packages/vutils/bundler.config.js
Labels: bundler, test

#12 Release/0.9.0 alpha.3
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/bundler.config.js
  packages/vdataset/package.json
  packages/vscale/bundler.config.js
  packages/vscale/package.json
  packages/vutils/bundler.config.js
  packages/vutils/package.json
Labels: bundler

#14 Chore/module import
  common/changes/@visactor/vdataset/chore-module-import_2023-06-19-01-50.json
  packages/vdataset/src/parser/geo/geobuf.ts
  packages/vdataset/tsconfig.json
Labels: @pkg/core, typescript

#13 chore: add pre-release workflow
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  .vscode/settings.json
  common/scripts/parse-version.js
  common/scripts/pre-release.js
  common/scripts/release.js
Labels: chore

#18 Chore/fix bundler
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  common/autoinstallers/lint/change-all.ts
  common/changes/@visactor/vdataset/chore-fix-bundler_2023-06-27-11-16.json
  common/changes/@visactor/vscale/chore-fix-bundler_2023-06-27-11-16.json
  common/changes/@visactor/vutils/chore-fix-bundler_2023-06-27-11-16.json
  common/config/rush/command-line.json
  common/git-hooks/pre-commit
  common/scripts/pre-release.js
  common/scripts/release.js
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/__tests__/log.test.ts
  packages/vscale/__tests__/pow.test.ts
  tools/bundler/src/logic/rollup.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: bundler, test, chore

#19 Fix/linear scale ticks
  common/changes/@visactor/vscale/fix-linear-scale-ticks_2023-06-27-12-45.json
  packages/vscale/__tests__/linear.test.ts
  packages/vscale/src/utils/tick-sample.ts
Labels: test

#21 Chore/jest config
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/jest.config.js
  packages/vdataset/package.json
  packages/vdataset/tsconfig.json
  packages/vdataset/tsconfig.test.json
  packages/vscale/jest.config.js
  packages/vscale/package.json
  packages/vscale/tsconfig.json
  packages/vscale/tsconfig.test.json
  packages/vutils/jest.config.js
  packages/vutils/package.json
  packages/vutils/tsconfig.json
  packages/vutils/tsconfig.test.json
  share/jest-config/jest.base.js
Labels: typescript, jest
