Repository VisActor/VUtil, pull requests merged in 2023-07, with the labels that each got.

#29 chore: add a new rule to "header-min-length" to limit too short message
  common/autoinstallers/lint/commitlint.config.js
Labels: chore

#28 Feat/multiple dataview
  common/changes/@visactor/vdataset/feat-multiple-dataview_2023-07-04-10-03.json
  packages/vdataset/src/data-set.ts
Labels: enhancement

#32 fix: compact the globalThis in non-browser env
  packages/vutils/src/graphics/text/measure/textMeasure.ts
Labels: @pkg/util

#31 feature: ordinal scale support specified
  common/changes/@visactor/vscale/feat-scale-support-specified_2023-07-11-09-22.json
  packages/vscale/__tests__/band-invert.test.ts
  packages/vscale/__tests__/ordinal.test.ts
  packages/vscale/src/interface.ts
  packages/vscale/src/ordinal-scale.ts
  tools/bundler/src/logic/babel.config.ts
Labels: bundler, test

#34 feat: new getScale api
  common/changes/@visactor/vutils/feat-dom_2023-07-17-09-38.json
  packages/vutils/__tests__/text/textMeasure.test.ts
  packages/vutils/src/dom.ts
  packages/vutils/src/graphics/text/measure/interface.ts
  packages/vutils/src/graphics/text/measure/test.ts
  packages/vutils/src/graphics/text/measure/textMeasure.ts
  packages/vutils/src/graphics/text/measure/util.ts
Labels: @pkg/util

#33 feat: geojson parser support reverse winding
  common/changes/@visactor/vdataset/feat-geojson_parser_rewind_2023-07-14-09-23.json
  packages/vdataset/src/parser/geo/geojson.ts
Labels: @pkg/core

#35 fix: call directly of toString function
  common/changes/@visactor/vutils/fix-toString_might_be_overidden_2023-07-18-13-07.json
  packages/vutils/src/common/isType.ts
Labels: @pkg/util

#38 feat(logger): remake Logger to support instance & errorHandler
  common/changes/@visactor/vdataset/feat-geojson_parser_rewind_2023-07-14-09-23.json
  common/changes/@visactor/vscale/feat-scale-support-specified_2023-07-11-09-22.json
  common/changes/@visactor/vutils/feat-add-new-feature-logger-in-vutil_2023-07-19-04-20.json
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/__tests__/logger/logger.test.ts
  packages/vutils/package.json
  packages/vutils/src/logger.ts
  packages/vutils/src/type.ts
Labels: typescript, @pkg/util

#39 Fix/util logger export
  common/changes/@visactor/vutils/fix-util-logger-export_2023-07-19-11-03.json
  packages/vutils/src/index.ts
Labels: @pkg/util

#41 chore: sync version from npm
  common/changes/@visactor/vdataset/chore-sync-version-npm_2023-07-19-11-39.json
  common/changes/@visactor/vscale/chore-sync-version-npm_2023-07-19-11-39.json
  common/changes/@visactor/vutils/chore-sync-version-npm_2023-07-19-11-39.json
  common/config/rush/pnpm-lock.yaml
  packages/vdataset/package.json
  packages/vscale/package.json
  packages/vutils/package.json
  packages/vutils/src/logger.ts
Labels: @pkg/util

#43 fix: change errorHanlder args to ...args
  common/changes/@visactor/vutils/fix-logger-params-args_2023-07-19-12-05.json
  packages/vutils/src/logger.ts
Labels: @pkg/util

#45 feat: support null for scale specified return value
  common/changes/@visactor/vscale/feat-scale-specified-support-null_2023-07-20-06-26.json
  packages/vscale/__tests__/ordinal.test.ts
  packages/vscale/src/ordinal-scale.ts
Labels: test

#46 feat(logScale): add forceTicks and stepTicks
  common/changes/@visactor/vscale/feat-log-scale_2023-07-20-15-57.json
  packages/vscale/__tests__/log.test.ts
  packages/vscale/src/log-scale.ts
Labels: test
